BODY
	{
	FONT-FAMILY: Verdana;
	FONT-SIZE: 2pt;
	}
H2
	{
	FONT-SIZE: 6pt;
	COLOR: 006699
	}
TH
	{
	FONT-SIZE: 6pt;	
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: ececec;
	}
TD
	{
	FONT-SIZE: 6pt;	
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR: ececec;
	}
BUTTON
	{
	BACKGROUND-COLOR: 006699;
	FONT-FAMILY: Monospace;
	FONT-SIZE: 8 pt;
	COLOR: ffffff
	}